<div class="card mb-3 shadow-sm" id="<%= dom_id climbing_place %>">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between align-items-center">
      <strong class="text-capitalize"><%= climbing_place.name %></strong>
      <span>
        <%= link_to edit_climbing_place_path(climbing_place), class: "text-primary fs-6 btn-sm me-2" do %>
          <i class="bi bi-pencil"></i>
        <% end %>
      </span>
    </h5>
    <p class="card-text text-muted mb-2">
      <i class="bi text-danger bi-geo-alt-fill"></i> <%= climbing_place.address %>
    </p>
    <p class="card-text" >
      <%= truncate climbing_place.description.to_plain_text, length: 1000, omission: '...' %>
    </p>

    <div class="d-flex justify-content-end">
      <%= link_to climbing_place, class: "btn btn-sm btn-light" do %>
        Show this climbing place
        &nbsp;
        <i class="bi bi-eye"></i>
      <% end %>

      <% if climbing_place.link.present? %>
        <%= link_to climbing_place.link, class: "btn btn-outline-dark btn-sm", target: "_blank" do %>
          <span> Go to website </span>
          <i class="bi bi-arrow-up-right-square-fill"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
