<div class="card mb-3 shadow-sm" id="<%= dom_id climbing_place %>">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between align-items-center">
      <strong class="text-capitalize"><%= climbing_place.name %></strong>
      <span>
        <%= link_to edit_climbing_place_path(climbing_place), class: "text-primary fs-6 btn-sm me-2" do %>
          <i class="bi bi-pencil"></i>
        <% end %>
      </span>
    </h5>
    <p class="card-text text-muted mb-2">
      <i class="bi text-danger bi-geo-alt-fill"></i> <%= climbing_place.address %>
    </p>
    <p class="card-text" >
      <%= climbing_place.description %>
    </p>

    <div class="d-flex justify-content-between">
      <%= button_to climbing_place, method: :delete, class: "btn btn-danger btn-sm me-2", data: { turbo_confirm: "Are you sure?" } do %>
        Destroy
        <i class="bi bi-trash"></i>
      <% end %>

      <%= link_to climbing_places_path, class: "btn btn-outline-secondary btn-sm" do %>
        Back to climbing places
        &nbsp;
        <i class="bi bi-arrow-return-left"></i>
      <% end %>
    </div>
  </div>
</div>
