<div class="card mb-3 shadow-sm" id="<%= dom_id climbing_place %>">
  <div class="card-body overflow-auto" style="max-height: 75vh;">
    <h5 class="card-title d-flex justify-content-between align-items-center">
      <strong class="text-capitalize">
        <%= climbing_place.name %>
        &nbsp;
        <%= country_flag(climbing_place.country_code) %>
      </strong>
      <% if policy(climbing_place).edit?%>
        <span>
          <%= link_to edit_climbing_place_path(climbing_place), class: "text-primary fs-6 btn-sm me-2" do %>
            <i class="bi bi-pencil"></i>
          <% end %>
        </span>
      <% end %>
    </h5>
    <p class="card-text text-muted mb-2">
      <i class="bi text-danger bi-geo-alt-fill"></i> <%= climbing_place.address %>
    </p>
    <p class="card-text">
      <%= climbing_place.description %>
    </p>
  </div>
  <div class="card-footer text-body-secondary">
    <div class="d-flex justify-content-between">
      <% if policy(climbing_place).destroy?%>
        <%= button_to climbing_place, method: :delete, class: "btn btn-danger btn-sm me-2", data: { turbo_confirm: "Are you sure?" } do %>
          Destroy
          <i class="bi bi-trash"></i>
        <% end %>
      <% else %>
        <span class="fw-light">
          Added on
          <%= climbing_place.created_at.strftime("%d-%b-%Y") %>
        </span>
      <% end %>
      <% if climbing_place.link.present? %>
        <%= link_to climbing_place.link, class: "btn btn-dark btn-sm", target: :_blank do %>
          Go to web site
          &nbsp;
          <i class="bi bi-globe-americas"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
