<%= form_with(model: climbing_place, class: "needs-validation", novalidate: true) do |form| %>
  <div class="row">
    <div class="col-sm-12 col-md-6 mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, placeholder: "Name of the climbing place", class: "form-control #{'is-invalid' if climbing_place.errors[:name].any?}", required: true %>
      <% if climbing_place.errors[:name].any? %>
        <div class="invalid-feedback">
          <%= climbing_place.errors[:name].join(", ") %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
      <%= form.label :link, class: "form-label" %>
      <%= form.text_field :link, class: "form-control #{'is-invalid' if climbing_place.errors[:link].any?}", placeholder: "Enter a link to the website" %>
      <% if climbing_place.errors[:link].any? %>
        <div class="invalid-feedback">
          <%= climbing_place.errors[:link].first %>
          <%= climbing_place.errors[:link].join(", ") %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-12 mb-3" data-controller="autocomplete">
      <%= form.label :address, class: "form-label", for: "autocomplete-input" %>
      <%= form.text_field :address, class: "form-control #{'is-invalid' if climbing_place.errors[:address].any?}", required: true, id: "autocomplete-input", placeholder: "Enter an address" %>
      <% if climbing_place.errors[:address].any? %>
        <div class="invalid-feedback">
          <%= climbing_place.errors[:address].join(", ") %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-12 mb-3">
      <%= form.label :images, "Upload images", class: "form-label" %>
      <%= form.file_field :images, multiple: true, class: "form-control" %>
      <div class="d-flex justify-content-start">
        <% climbing_place.images.each do |attachment| %>
          <div class="attachment m-2">
            <%= image_tag attachment.variant(:thumb), class: "img-thumbnail", alt: "Attachment" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.rich_text_area :description, class: "form-control #{'is-invalid' if climbing_place.errors[:description].any?}", placeholder: "Write a description about the place" %>
      <% if climbing_place.errors[:description].any? %>
        <div class="invalid-feedback">
          <%= climbing_place.errors[:description].join(", ") %>
        </div>
      <% end %>
    </div>
    <div class="d-grid">
      <%= form.submit "Save Climbing Place", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
