<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="d-flex justify-content-between align-items-center my-4">
      <%= render @climbing_place %>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="d-flex justify-content-between align-items-center my-4">
      <div 
        id="map" 
        style="height: 400px; width: 100%;" 
        data-controller="map" 
        data-map-latitude-value="<%= @climbing_place.latitude %>" 
        data-map-longitude-value="<%= @climbing_place.longitude %>"
        data-map-name-value="<%= @climbing_place.name %>"
        data-map-address-value="<%= url_for @climbing_place.address %>"
        data-map-link-value="<%= google_maps_url(@climbing_place.latitude, @climbing_place.longitude) %>"
        >
      </div>
    </div>
    <div id="gallery" class="row g-3" data-controller="gallery" data-gallery-target="gallery">
      <% @climbing_place.images.each do |image| %>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="attachment">
            <img src="<%= image.url(disposition: 'inline') %>" class= "img-fluid img-thumbnail rounded" alt= "Image" >
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
