
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="d-flex justify-content-between align-items-center my-4">
      <%= render @climbing_place %>
    </div>
  </div>

  <div class="col-lg-6 col-sm-12">
    <div class="d-flex justify-content-between align-items-center my-4">
      <div 
        id="map" 
        style="height: 400px; width: 100%;" 
        data-controller="map" 
        data-map-latitude-value="<%= @climbing_place.latitude %>" 
        data-map-longitude-value="<%= @climbing_place.longitude %>"
        data-map-thumbnail-value="<%= url_for @climbing_place.images.first %>"
        data-map-name-value="<%= url_for @climbing_place.name %>"
        data-map-address-value="<%= url_for @climbing_place.address %>"
        data-map-link-value="<%= google_maps_url(@climbing_place.latitude, @climbing_place.longitude) %>"
        >
      </div>
    </div>

    <div class="d-flex justify-content-start">
      <% @climbing_place.images.each do |image| %>
        <div class="attachment m-2">
          <%= image_tag image, class: "img-thumbnail", alt: "Image" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

