<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Climbing app
      <img src="/climbing_icon.png" alt="Bootstrap" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to new_climbing_place_path, class: "nav-link" do %>
              <span>
                Add new place
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Session
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <% if user_signed_in? %>
              <li>
                <%= link_to edit_user_registration_path, class: "dropdown-item d-flex justify-content-between" do %>
                  Edit account
                  <i class="bi bi-pencil"></i>
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item d-flex justify-content-between" do %>
                  Log out
                  <i class="text-danger bi bi-trash"></i>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>