<div class="row">
  <div class="col-md-8 mb-3">
    <div class="card">
      <div class="card-body">
        <h2>
          Edit <%= resource_name.to_s.humanize %>
        </h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "needs-validation", novalidate: true }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="mb-3">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="alert alert-info">
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>
          <p class="d-inline-flex gap-1">
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Edit password
              <i class="bi bi-lock"></i>
            </a>
          </p>
          <div class="collapse mb-3" id="collapseExample">
            <div class="card">
              <div class="card-body">
                <div class="mb-3">
                  <%= f.label :password, class: "form-label" %>
                  <span class="form-text">(leave blank if you don't want to change it)</span>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                  <% if @minimum_password_length %>
                    <div class="form-text"><%= @minimum_password_length %> characters minimum</div>
                  <% end %>
                </div>
                <div class="mb-3">
                  <%= f.label :password_confirmation, class: "form-label" %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <%= f.label :current_password, class: "form-label" %>
            <span class="form-text">(we need your current password to confirm your changes)</span>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="d-grid">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Cancel my account
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p class="fw-light">If you wish to cancel your account, please follow the necessary steps or contact customer support for assistance. Keep in mind that canceling your account may result in the loss of access to certain services, and any ongoing subscriptions or pending transactions could be affected. Be sure to review any relevant terms before proceeding with cancellation.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="d-grid">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger", form_class: "d-grid" %>
        </div>
      </div>
    </div>
  </div>
</div>
